.account-details {
  max-width: 700px;
  margin: 40px auto 32px auto;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.07);
  padding: 36px 32px 32px 32px;
  color: #222;
}

.account-details h2 {
  font-size: 2em;
  margin-bottom: 18px;
  color: #10182B;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.account-details p {
  font-size: 1.08em;
  margin: 18px 0 0 0;
  line-height: 1.6;
}

.account-details b {
  color: #10182B;
}


.carousel-container { 
  position: relative; 
  width: 300px;
  height: 300px; 
  margin: 0 auto 24px auto; 
}

.carousel-img { 
  width: 300px; 
  height: 300px; 
  object-fit: cover; 
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

.carousel-arrow { 
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%);
  border: none; 
  background-color: transparent;
  cursor: pointer; 
  border-radius: 50%; 
  z-index: 2;
}

.carousel-arrow.left { 
  left: 0; 
}

.carousel-arrow.right { 
  right: 0; 
}

.account-details a, .add-to-cart-btn {
  display: inline-block;
  margin-top: 28px;
  background-color: #10182B;
  color: #F0F0F0;
  border: 1px solid #10182B;
  padding: 10px 22px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; 
  font-family: inherit; 
  text-align: center; 
  box-sizing: border-box; 
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  transition: background 0.4s, color 0.4s;
}

.account-details a:hover, .add-to-cart-btn:hover {
  background-color: #F0F0F0;
  color: #10182B;
  border: 1px solid #10182B;
}

.account-actions {
  display: flex;
  justify-content: space-between;
}