.content {
  display: flex;
  flex-direction: row;
}

.cart-container {
  width: 60%;
  margin: 20px 10px 20px 60px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.2);
  padding: 10px 24px;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafbfc;
  border-radius: 8px;
  padding: 16px 18px;
}
.cart-item-left {
  display: flex;
  align-items: center;
  gap: 16px;
}
.cart-thumb {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.cart-item-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cart-item-name {
  font-weight: 500;
  font-size: 16px;
}
.cart-item-qty {
  display: flex;
  align-items: center;
  gap: 6px;
}
.cart-qty-num {
  min-width: 24px;
  text-align: center;
  display: inline-block;
}
.cart-item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.cart-delete-btn {
  background: none;
  border: none;
  color: #e74c3c;
  font-size: 24px;
  cursor: pointer;
  padding: 0 4px;
  line-height: 1;
}
.cart-item-price {
  font-weight: bold;
  font-size: 16px;
}


.cart-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  margin: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.2);
  padding: 16px 24px;
}

.cart-grand-total {
  font-size: 16px;
  font-weight: 500;
  color: #222;
  background: #f4f6fa;
  padding: 8px 18px;
  border-radius: 6px;
}

.checkout-btn, .shop-btn {
  background-color: #10182B;
  color: #F0F0F0;
  border: 1px solid #10182B;
  padding: 12px 28px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}
.checkout-btn:hover, .shop-btn:hover {
  background-color: #F0F0F0;
  color: #10182B;
  border: 1px solid #10182B;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.empty-cart h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 16px;
}

.empty-cart p {
  font-size: 16px;
  color: #666;
  margin-bottom: 24px;
}

.empty-cart a{
  text-decoration: none;
}